
#block1,#block2 {
   float: left;
   display: block;
   width: 400px;
   height: 400px;
   margin-left: 10pt;
   margin-top: 0;
   }
   .find {
   float: left;
   display: block; 
   position: fixed;
   margin-top: 350pt; 
   }
   ul.days1, ul.temperature1 {
   margin: 0;
   padding: 4px;
   }
   ul.days1 li, ul.temperature1 li, ul.emodji1 li {
   display: inline; 
   margin-right: 5px; 
   padding: 3px;
   }
  ul.emodji1 {
   margin: 0;
   padding-top: 10px;
   padding-left: 8px;
   }
  ul.emodji1 li {
   margin-right: 13px; 
   padding-left: 10px;
   padding-right: 2px;
   padding-top: 10px;
  }
  ul.temperature1 {
   margin-right: 7px; 
   padding-left: 22px;
   padding-top: 10px;
   font-size: 20px;
  }
  h1 {
   color: #1a844d;
   background-color:  rgb(222, 253, 243);
   background-size: auto;
   opacity: 0,9; 
   font-size: 48px;
   text-align: left;
   font-weight: thin;
   margin-top: 15pt;
   margin-right: 920pt;
   margin-left: 70pt;
   padding: 7px;
   font-family: fantasy;
   letter-spacing: 5px;
   }
   h2 {
   color: #010c06; 
   font-size: 36px;
   text-align: center;
  }
  h3 {
   color: #1a844d;
   font-size: 30px;
   text-align: center;
   font-weight: bold;
  }
  .another {
   color: rgb(38, 38, 217)
  }
  .cities{
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   color:rgb(38, 38, 217)
  }
  .maincity {
   text-align: center;
   font-size: 24px;
   font-weight: bold;
  }
  .days1, .emodji1, .temperature1 {
   margin-top: 20px;
   margin-bottom: 20px;
  text-align: center;
  font-size: 24px;}
  .days1 {
   color: #1a844d;
   font-weight: bold;
  }
  .button, button {
   border: 1px solid black;
   color: rgb(20, 17, 17);
   background: rgb(209, 209, 210);
   font-size: 15px;
   width: 110px;
   height: 40px;
   padding: auto; 
   transition: all 200 ms ease-in-out;
   border-radius: 5px;
   margin-bottom: 16px;
   }
   .button:hover {
   color: rgb(59, 59, 200);
   background: white;
   }
   main {
   width: 70px;
   height: 50px;   
   }
   .string {
   width: 450px;
   height: 39px;  
   text-align: left;
   font-weight: bold;  
   font-size: 15px;
   margin-left: 100px;
   margin-top: 96px;
   font-family: 'Times New Roman', Times, serif;
   }
   .path {
      display: block;
      margin-top: 50px;
      margin-left: 100px;  
      }